---
import LinkButton from "@/components/LinkButton.astro";
import { markdownify } from "@/lib/utils/textConverter";

const {
  title,
  description,
  button,
} = Astro.props;
---

<section class="px-5 py-20 xl:py-[120px]">
  <div class="container">
    <div
      class="bg-surface shadow row justify-center rounded-2xl px-[30px] pb-[75px] pt-16"
    >
      <div class="lg:col-11">
        <div class="text-center">
          <h2 class="h1 text-text mb-6" set:html={markdownify(title)}/>
          <p class="text-text text-lg max-w-4xl mx-auto" set:html={markdownify(description)}/>
          {button && <LinkButton {...button} addClasses="mt-8" />}
        </div>
      </div>
    </div>
  </div>
</section>
